<!DOCTYPE html>
<html>
<head>
	<title>Bootstarp介绍</title>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
  rel="stylesheet" />
	<link rel="stylesheet" href="{{ url_for('static',
  filename='style/style1.css') }}" />
</head>
<body style="padding-top: 50px">

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a href="#" class="navbar-brand">
				品牌
			</a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-list"></span> 咨询</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-fire"></span> 案列</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-question-sign"></span> 关于</a></li>
		</ul>
		</div>
	</div>
</nav>

<div id="myCarousel" class="carousel slide">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner" align="center">
		
		<div class="item active">
			<img src="static/img/slide2.jpg" width="1640px" height="640px" alt="slide2">
		</div>

		<div class="item">
			<img src="static/img/slide1.jpg" width="1680px" height="640px" alt="slide1">
		</div>
		
		<div class="item">
			<img src="static/img/slide3.jpg" width="2080px" height="640px" alt="slide3">
		</div>
		
		<div class="tab">
			<a href="#myCarousel" data-slide="prev" class="carousel-control left">
				<span class="glyphicon glyphicon-chevron-left"></span>	
			</a>
			
			<a href="#myCarousel" data-slide="next" class="carousel-control right">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>
	</div>
</div>

	<div class="tab1">
		<div class="container">
			<h2 class="tab-h2">你说的逻辑啊非独立的撒</h2>
			<p class="tab-p">lskdajflsdjalsdfjasdfadsjfalsdfjalkdfjal</p>
			<div class="row">
				<div class="col-md-6 col">
					<div class="media-left">
						<a href="#" class="img1"><img src="static/img/tab-2.png" height="100px" width="150px"></a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">士大夫</h4>
						<p class="text-muted">akfjasl垃圾的方式卡</p>
						<p>ajflksdjflkasjflkas</p>
					</div>
				</div>
				<div class="col-md-6 col">
					<div class="media-left">
						<a href="#" class="img1"><img src="static/img/tab-2.png" height="100px" width="150px"></a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">士大夫</h4>
						<p class="text-muted">akfjasl垃圾的方式卡</p>
						<p>ajflksdjflkasjflkas</p>
					</div>
				</div>
				<div class="col-md-6 col">
					<div class="media-left">
						<a href="#" class="img1"><img src="static/img/tab-2.png" height="100px" width="150px"></a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">士大夫</h4>
						<p class="text-muted">akfjasl垃圾的方式卡</p>
							<p>ajflksdjflkasjflkas</p>
					</div>
				</div>
				<div class="col-md-6 col">
					<div class="media-left">
						<a href="#" class="img1"><img src="static/img/tab-2.png" height="100px" width="150px"></a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">士大夫</h4>
						<p class="text-muted">akfjasl垃圾的方式卡</p>
						<p>ajflksdjflkasjflkas</p>
					</div>
				</div>
			</div>
		</div>
	</div>

<div class="tab2">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h3>强大的学习体系</h3>
				<p>良好的克拉的jfk都上了飞机</p>
			</div>
			<div class="col-md-6">
				<img src="static/img/tab-1.png" class="img-responsive center-block" width="50%" height="50%">
			</div>			
		</div>
	</div>
</div>

<div class="tab3">
	<div class="container">
		<div class="row">			
			<div class="col-md-6">
				<img src="static/img/tab-1.png" class="img-responsive center-block" width="50%" height="50%">
			</div>
			<div class="col-md-6">
				<h3>强大的学习体系</h3>
				<p>良好的克拉的jfk都上了飞机</p>
			</div>
		</div>
	</div>
</div>

<footer id="footer">
	<div class="container">
		<p>肯定撒房间阿里山扩大飞机阿斯利康的飞机</p>
		<p>快放假啊可是大家093248203948200</p>
	</div>
</footer>







<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

</body>
</html>
