.tab-h2 {
	font-size: 30px;
	text-align: center;
	letter-spacing: 1px;
	margin: 40px 0 60px 0;
}

.tab-p {
	font-size: 18px;
	text-align: center;
	letter-spacing: 1px;
	margin: 20px 0 40px 0;
}

.tab1 {
	margin: 30px 0;
}


.img1 {
	width: 200px;
	height: 200px;
}

.tab1 .media-heading {
	margin: 5px 0 20px 0;
}

.tab1 .col {
	padding: 20px;
}

.tab1 h4 {
	border-bottom: 1px solid #eee;
	padding: 0 0 10px 0;
}

.tab1 p {
	padding: 0;
}
#footer {
	background-color: #E0E0E0;
	border-top: 1px solid grey;
	padding: 20px;
	text-align: center;
}

.tab2 {
	background: #E0E0E0;
	padding: 30px 0 40px 0;
	text-align: center;
}

.tab3 {
	padding: 30px 0;
	text-align: center;
}*/

#zby4 {
	background-color: #eee;
	text-align: center;
	padding: 20px;
}

#zby4 img {
	height: 90%;
	width: 90%;
}

#vedio {
	background-color: #eee;
	padding: 40px 40px;
}

.vedio-info {
	background-color: #fff;
	margin: 0 0 20px 0;
	box-shadow: 2px 2px 3px #ccc;
}

.vedio-info img {
	margin: 12px 0;
}

.vedio-info h4 {
	color: #333;
	margin: 15px;
	padding: 10px 0;
	border-bottom: 1px solid #eee;
}

.vedio-info p {
	margin: 15px;
	padding: 0;
}

.info-right {
	background-color: #fff;
	box-shadow: 2px 2px 3px #ccc;
}

#about {
	padding: 40px 20px;
	margin: 0;
	background-color: #eee;
}

#about a {
	color: #0059b2;
}

#about .abc {
	background-color: #fff;
	box-shadow: 2px 2px 3px 0;
}

#about h3 {
	color: #333;
	font-size: 22px;
	border-bottom: 1px solid #eee;
	padding: 10px 0 15px 0;
}

.thumbnail {
	box-shadow: 2px 2px 3px 0 #BEBEBE;
}