<!DOCTYPE html>
<html>
<head>
	<title>Pictures</title>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
  rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',
  filename='style/style.css') }}" />

</head>
<body style="padding-top: 50px; background-color: #eee">

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse">
		<ul class="nav navbar-nav navbar-left">
			<li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
			<li><a href="/guitarist"><span class="glyphicon glyphicon-user"></span> Guitarist</a></li>
			<li><a href="/picture"><span class="glyphicon glyphicon-picture"></span> Picture</a></li>
			<li><a href="introduction"><span class="glyphicon glyphicon-list-alt"></span> Introduction</a></li>
		</ul>
		</div>
	</div>
</nav>


	<div class="containe" style="padding:0 0 20px 0; border-bottom: 1px solid #E0E0E0">
		<img src="static/img/Types.png" style="height: 100%; width: 100%">
	</div>

<div id="zby4" style="padding: 20px 0 0 0">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="static/img/Acoustic-Guitar.png">
					<div class="caption">
						<h4 style="text-align: center">Acoustic-Guitar</h4>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="static/img/Electric-Guitar.png">
					<div class="caption">
						<h4 style="text-align: center">Electric-Guitar</h4>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="static/img/Eletric-acoustic.png">
					<div class="caption">
						<h4 style="text-align: center">Electro-Acoustic Guitar</h4>
					</div>
				</div>
			</div>	
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="static/img/12-String.png">
					<div class="caption">
						<h4 style="text-align: center">Acoustic-Twelve-String Guitar</h4>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="static/img/Archtop.png">
					<div class="caption">
						<h4 style="text-align: center">Archtop Guitar</h4>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="static/img/Bass-Guitar.png">
					<div class="caption">
						<h4 style="text-align: center">Bass Guitar</h4>
					</div>
				</div>
			</div>	
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="static/img/12-String-Guitar.png">
					<div class="caption">
						<h4 style="text-align: center">Double-neck Guitar</h4>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="static/img/Electric-12-String.png">
					<div class="caption">
						<h4 style="text-align: center">Electric-Twelve-String Guitar</h4>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="static/img/Wooden-Resonator-Guitar.png">
					<div class="caption">
						<h4 style="text-align: center">Resonator Guitar</h4>
					</div>
				</div>
			</div>	
		</div>
	</div>	
</div>


<footer id="footer">
	<div class="container">
		<p>肯定撒房间阿里山扩大飞机阿斯利康的飞机</p>
		<p>快放假啊可是大家093248203948200</p>
	</div>
</footer>







<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>
</html>