<!DOCTYPE html>
<html>
<head>
	<title>Guistarist</title>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
  rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',
  filename='style/style.css') }}" />

</head>
<body style="padding-top: 50px">

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse">
		<ul class="nav navbar-nav navbar-left">
			<li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a href="/guitarist"><span class="glyphicon glyphicon-user"></span> Guitarist</a></li>
            <li><a href="/picture"><span class="glyphicon glyphicon-picture"></span> Picture</a></li>
            <li><a href="/introduction"><span class="glyphicon glyphicon-list-alt"></span> Introduction</a></li>
		</ul>
		</div>
	</div>
</nav>

<div>
	
		<img src="static/img/123.jpg" style="height: 100%; width: 100%">
	
</div>
	
<div id="vedio">
    <div class="container">
    	<div class="row">
    		<div class="col-md-8">
    			<div class="container-fluid"> 				
    				<div class="row vedio-info">
    					<div class="col-md-5">
    						<video src="static/video/fight.mp4" controls style="height: 180px; width: 300px; margin: 10px 0 4px 0" poster="static/img/u.jpg"></video>		
    					</div>
    					<div class="col-md-7">
    						<h4>Kotaro Oshio</h4>
    						<p>Kotaro Oshio (押尾 コータロー Oshio Kōtarō, real name: 押尾 光太郎) is an acoustic guitarist from Japan. Born in Osaka Prefecture, on February 1, 1968, he is best known for his work on the steel string guitar. Oshio is a part of Sony Music Japan's SME Records division.
                            </p>
    						
    					</div>
    				</div>
    				<div class="row vedio-info">
    					<div class="col-md-5">
    						<video src="static/video/payphone.mp4" controls style="height: 180px; width: 300px; margin: 10px 0 4px 0" poster="static/img/u.jpg"></video>		
    					</div>
    					<div class="col-md-7">
    						<h4>Sungha Jung</h4>
    						<p>Sungha Jung (Korean: 정성하) is a South Korean musician who specializes in acoustic fingerstyle guitar. His YouTube channel currently has more than 4.7 million subscribers.[1] Jung creates acoustic covers and arrangements, typically by ear and/or by watching videos, and has original music, which he plays and uploads...
                            </p>
    						
    					</div>
    				</div>
    				<div class="row vedio-info">
    					<div class="col-md-5">
    						<video src="static/video/John Mayer.mp4" controls style="height: 180px; width: 300px; margin: 10px 0 4px 0" poster="static/img/u.jpg"></video>			
    					</div>
    					<div class="col-md-7">
    						<h4>John Mayer</h4>
    						<p>John Clayton Mayer (/ˈmeɪ.ər/; born October 16, 1977) is an American singer-songwriter, guitarist, and producer.[1] He was born in Bridgeport, Connecticut, and raised in nearby Fairfield. He attended Berklee College of Music in Boston, but disenrolled and moved to Atlanta in 1997 with Clay Cook.
                            </p>
    						
    					</div>
    				</div>
                    <div class="row vedio-info">
                        <div class="col-md-5">
                            <video src="static/video/video4.mp4" controls style="height: 180px; width: 300px; margin: 10px 0 4px 0" poster="static/img/u.jpg"></video>            
                        </div>
                        <div class="col-md-7">
                            <h4>Ewan Dobson</h4>
                            <p>As a classical guitarist, Dobson has won many awards including the Grand Prizes of both the Burlington Rotary Fall Music Festival and the Pickering Rotary Music Festival (1996 and 1998), as well as the D'addario Scholarship from the Kiwanis Music Festival which is given to the top classical guitarist in the competition.
                            </p>
                            
                        </div>
                    </div>
                    <div class="row vedio-info">
                        <div class="col-md-5">
                            <video src="static/video/John Mayer.mp4" controls style="height: 180px; width: 300px; margin: 10px 0 4px 0" poster="static/img/u.jpg"></video>            
                        </div>
                        <div class="col-md-7">
                            <h4>John Mayer</h4>
                            <p>John Clayton Mayer (/ˈmeɪ.ər/; born October 16, 1977) is an American singer-songwriter, guitarist, and producer.[1] He was born in Bridgeport, Connecticut, and raised in nearby Fairfield. He attended Berklee College of Music in Boston, but disenrolled and moved to Atlanta in 1997 with Clay Cook.
                            </p>
                            
                        </div>
                    </div>
    			</div>
    		</div>
    		<div class="col-md-4 info-right">
    			<blockquote>
    				<h2>7 Pioneers of Guitar</h2>
    			</blockquote>
    			<div class="container-fluid">
    				<div class="row" style="border-bottom: 1px solid #eee; padding: 20px 0 20px 0">
    					<div class="col-md-5" style="margin: 0;">
    						<img src="static/img/zby.png" class="img-responsive">			
    					</div>
    					<div class="col-md-7">
    						<a href="/guitarist/Paul/" style="font-size: 20px; margin: : 30px 20px 0 0">1.Les Paul</a>
                            <p>
                                Les Paul was jazz and country guitarist, songwriter and inventor...
                            </p>   						
    					</div>
                    </div>
                    <div class="row" style="border-bottom: 1px solid #eee; padding: 20px 0 20px 0">
                        <div class="col-md-5" style="margin: 0;">
                            <img src="static/img/zby.png" class="img-responsive">          
                        </div>
                        <div class="col-md-7">
                            <a href="/guitarist/Hendrix" style="font-size: 20px; margin: : 30px 20px 0 0">2. Jimi Hendrix</a>
                            <p>
                                Jimi Hendrix was an incredible guitarist and singer-songwriter...
                            </p>                        
                        </div>
                    </div>
    				<div class="row" style="border-bottom: 1px solid #eee; padding: 20px 0 20px 0">
                        <div class="col-md-5" style="margin: 0;">
                            <img src="static/img/zby.png" class="img-responsive">          
                        </div>
                        <div class="col-md-7">
                            <a href="/guitarist/Atkins/" style="font-size: 20px; margin: : 30px 20px 0 0">3. Chet Atkins</a>
                            <p>
                                Chet Atkins was a guitarist and record producer who created...
                            </p>                        
                        </div>
                    </div>
                    <div class="row" style="border-bottom: 1px solid #eee; padding: 20px 0 20px 0">
                        <div class="col-md-5" style="margin: 0;">
                            <img src="static/img/zby.png" class="img-responsive">          
                        </div>
                        <div class="col-md-7">
                            <a href="/guitarist/Tedesco/" style="font-size: 20px; margin: : 30px 20px 0 0">4. Tommy Tedesco</a>
                            <p>
                                Tedesco was described by Guitar Player magazine as the most recorded...
                            </p>                        
                        </div>
                    </div>
                    <div class="row" style="border-bottom: 1px solid #eee; padding: 20px 0 20px 0">
                        <div class="col-md-5" style="margin: 0;">
                            <img src="static/img/zby.png" class="img-responsive">          
                        </div>
                        <div class="col-md-7">
                            <a href="/guitarist/Christian/" style="font-size: 20px; margin: : 30px 20px 0 0">5. Charlie Christian</a>
                            <p>
                                Christian was an important early performer on the electric guitar...
                            </p>                        
                        </div>
                    </div>
                    <div class="row" style="border-bottom: 1px solid #eee; padding: 20px 0 20px 0">
                        <div class="col-md-5" style="margin: 0;">
                            <img src="static/img/zby.png" class="img-responsive">          
                        </div>
                        <div class="col-md-7">
                            <a href="/guitarist/Red/" style="font-size: 20px; margin: : 30px 20px 0 0">6. Tampa Red</a>
                            <p>
                                Tampa Red is best known as an accomplished and influential blues...
                            </p>                        
                        </div>
                    </div>
                    <div class="row" style="border-bottom: 1px solid #eee; padding: 20px 0 20px 0">
                        <div class="col-md-5" style="margin: 0;">
                            <img src="static/img/zby.png" class="img-responsive">          
                        </div>
                        <div class="col-md-7">
                            <a href="/guitarist/Berry/" style="font-size: 20px; margin: : 30px 20px 0 0">7. Chuck Berry</a>
                            <p>
                                Chuck Berry is a guitarist, singer, and songwriter, and one of the pioneers...
                            </p>                        
                        </div>
                    </div>
    			</div>
    		</div>
    	</div>
    </div>   	    	   	
</div>

<footer id="footer">
	<div class="container">
		<p>肯定撒房间阿里山扩大飞机阿斯利康的飞机</p>
		<p>快放假啊可是大家093248203948200</p>
	</div>
</footer>








<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>
</html>