<!DOCTYPE html>
<html>
<head>
	<title>Bootstarp介绍</title>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
  rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',
  filename='style/style.css') }}" />
	
</head>
<body style="padding-top: 50px">

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a href="#" class="navbar-brand">
				品牌
			</a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
			<li><a href="/guitarist"><span class="glyphicon glyphicon-user"></span> Guitarist</a></li>
			<li><a href="/picture"><span class="glyphicon glyphicon-picture"></span> Picture</a></li>
			<li><a href="/introduction"><span class="glyphicon glyphicon-list-alt"></span> Introduction</a></li>
		</ul>
		</div>
	</div>
</nav>



<div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 hidden-sm hidden-xs">
                <img src="/static/img/people4.jpg" style="height: 100%; width: 100%; padding: 130px 0">
            </div>
            <div class="col-md-8 abc" style="padding: 150px 0 0 50px">
                
                <h3 style="font-size: 25px">Tommy Tedesco (1930-1997)</h3>
                <p style="font-size: 20px">
                	Tedesco was described by Guitar Player magazine as the most recorded guitarist in history, having played on thousands of recordings, many of which were top-20 hits. He recorded with most of the top musicians working in the Los Angeles area. His guitar lines helped create the California sound, he played on albums from Jan and Dean and The Beach Boys. He also recorded with Frank Zappa in the 60s and 70s.
                </p>
                <p style="font-size: 20px">
                    Tommy can be heard on almost any TV show recorded between 1960-1980 including Twilight Zone, Mickey Mouse Club, Bonanza, Green Acres, Mash, as well as movies like The Deer Hunter, Field Of Dreams, Jaws, and The Godfather. He also was a music educator, wrote books and a long running colum in Guitar Player Magazine. Although Tedesco was primarily a guitar player, he also played the mandolin, ukulele, and the sitar as well as 28 other stringed instruments (though he played all of them in guitar tuning).
                </p>
                
            </div>
        </div>
    </div>
</div>
	









<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>
</html>